@charset "utf-8";

*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* Skip Navigation */
#u_skip {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 0;
}
#u_skip dl,
#u_skip dt,
#u_skip dd {
  height: 0;
}
#u_skip a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  margin-left: -1px;
  font-weight: bold;
  color: #000;
  text-align: center;
  white-space: nowrap;
}
#u_skip a:hover,
#u_skip a:focus,
#u_skip a:active {
  z-index: 1000;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: #0c4da2;
  color: #fff;
}

.hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.item-card.backend:before {
  background-color: #5987ff !important;
}

.item-card.frontend:before {
  background-color: #ff59c6 !important;
}

.item-card.test:before {
  background-color: #ffe03d !important;
}

.item-card.android:before {
  background-color: #45e676 !important;
}

.item-card.etc:before {
  background-color: #42e0e2 !important;
}

.item-card.mobile:before {
  background-color: #b85cff !important;
}

.item-card.ios:before {
  background-color: #5a4dc4 !important;
}