@charset "utf-8";

@media all and (max-width: 1500px) and (min-width: 1201px) {
  .navbar .navbar-container {
    max-width: 1026px;
    padding: 0 120px;
  }

  .footer .footer-container {
    max-width: 1026px;
  }
}

@media all and (max-width: 1200px) and (min-width: 769px) {
  .navbar .navbar-container {
    max-width: 826px;
    padding: 0 100px;
  }

  .footer .footer-container {
    max-width: 826px;
  }

  .main-contents .content-container {
    display: block;
    max-width: 826px;
  }

  .main-contents .content-container .opensource-list .opensource-item {
    min-width: 100%;
    flex: 1;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item:nth-child(2n)
    .item-container {
    margin: 0 auto;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item:nth-child(2n -1)
    .item-container {
    margin: 0 auto;
  }

  .main-contents .content-container .opensource-list .opensource-item.empty {
    display: none;
  }
}

@media all and (max-width: 768px) {
  body.fixed {
    overflow-y: hidden;
  }

  .navbar {
    height: 70px;
    position: absolute;
  }

  .navbar.affix {
    background-color: transparent;
    border: none;
  }

  .navbar .navbar-container {
    max-width: 1024px;
    padding: 0 30px;
  }

  .navbar .navbar-container .logo,
  .navbar.affix .navbar-container .logo {
    background-image: url("/assets/images/layout/m/logo-white.png");
    background-size: 130px 30px;
    width: 130px;
    height: 30px;
  }

  .navbar.affix .navbar-container .navbar-collapse ul li > a {
    color: #fff;
  }

  .navbar .navbar-container .navbar-toggler {
    display: block;
  }

  .navbar .navbar-container .navbar-collapse {
    position: fixed;
    display: block;
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    visibility: hidden;
    background-image: linear-gradient(to top, #47b0d3, #5245cd);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }

  .navbar .navbar-container .navbar-collapse ul {
    display: block;
    padding: 90px 0;
  }
  .navbar .navbar-container .navbar-collapse ul li {
    display: block;
    padding: 0 40px;
  }

  .navbar .navbar-container .navbar-collapse ul li + li {
    margin: 40px 0;
  }

  .navbar .navbar-container .navbar-collapse.active {
    left: 0;
    visibility: visible;
  }

  .navbar .navbar-container .navbar-collapse.active .navbar-close {
    display: block;
  }

  .jumbotron {
    height: 320px;
  }

  .jumbotron .jumbotron-container:before {
    background-image: url("/assets/images/layout/m/grid.png");
    background-size: auto 320px;
  }

  .jumbotron .jumbotron-container {
    height: 320px;
    background-image: url("/assets/images/layout/m/bg_img.png");
    background-size: auto 320px;
  }

  .jumbotron .jumbotron-campaign h2 {
    font-size: 43px;
    line-height: 1.16;
    letter-spacing: 1px;
    margin: 95px auto 0;
  }

  .jumbotron .jumbotron-campaign h3 {
    margin: 19px auto 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
  }

  .jumbotron .jumbotron-campaign h2 span,
  .jumbotron .jumbotron-campaign h3 span {
    display: block;
  }

  .main-contents {
    padding: 50px 0;
  }

  .main-contents .content-container {
    display: block;
    max-width: 700;
  }

  .main-contents .content-container .opensource-list .opensource-item {
    min-width: 100%;
    flex: 1;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container {
    max-width: 316px;
    width: auto;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item:nth-child(2n)
    .item-container {
    margin: 0 auto;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item:nth-child(2n -1)
    .item-container {
    margin: 0 auto;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container
    .item-card {
    padding: 30px 40px 30px 30px;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container
    .item-card:before {
    height: 20px;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container
    h3 {
    font-size: 21px;
    line-height: 18px;
    margin: 0;
    padding: 0;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container
    p {
    font-size: 15px;
    line-height: 1.53;
    margin: 10px 0 0;
    min-height: 72px;
    padding: 0;
    font-weight: normal;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container
    .project-item-links {
    margin-top: 25px;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container
    .project-item-links
    .project-item-link {
    font-size: 15px;
  }

  .main-contents .content-container .opensource-list .opensource-item.empty {
    display: none;
  }

  .footer {
    margin-top: 0px;
  }

  .footer .footer-container {
    margin: 0 auto;
    padding: 30px 0 40px;
  }

  .footer .footer-container .social .social-item + .social-item {
    margin-left: 20px;
  }

  .footer .footer-container .links {
    margin-top: 25px;
  }

  .footer .footer-container .links .links-item {
    background-size: 0 !important;
    width: auto !important;
  }

  .footer .footer-container .links .links-item span {
    display: inline-block;
  }

  .footer .footer-container .social,
  .footer .footer-container .links {
    position: static;
    display: block;
    font-weight: 500;
  }

  .footer .footer-container .social .social-item.facebook {
    width: 52px;
    height: 52px;
    background-image: url("/assets/images/layout/m/f.png");
    background-size: 52px 52px;
  }

  .footer .footer-container .social .social-item.mail {
    width: 52px;
    height: 52px;
    background-image: url("/assets/images/layout/m/m.png");
    background-size: 52px 52px;
  }

  .footer .footer-container .copyright {
    margin-top: 25px;
    padding: 0;
  }

  .top-button {
    display: block;
  }
}

@media all and (max-width: 320px) {
  .main-contents .content-container .opensource-list {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  .main-contents .content-container .opensource-list .opensource-item {
    display: block;
    padding: 0;
    min-width: 100px;
    max-width: 100%;
  }

  .main-contents
    .content-container
    .opensource-list
    .opensource-item
    .item-container {
    width: auto;
  }
}